<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 
 namespace : mapper interface 인터페이스 바인딩
 resultType : 반환타입 (aplication.yml에 경로 지정 가능, 하지 않을 경우 전체 경로 입력 필수)
 id : mapper interface 함수명 바인딩
-->  
<mapper namespace="com.app.mapper.UserMapper">
	<select id="getUserInfo" resultType="UserDto">
		SELECT * FROM tb_user WHERE USER_ID= #{userId}
	</select>

	<insert id="joinUser" parameterType="UserDto">
		INSERT INTO tb_user
		(USER_ID, USER_PW, USER_NAME, USER_AUTH, APPEND_DATE, UPDATE_DATE)
		VALUES(#{userId},#{userPw},#{userName},#{userAuth},#{appendDate},#{updateDate});
	</insert>
</mapper>